<%= form_for @category do |f| %>
  <div class="inputs">
    <p>
      <%= f.label 'name :' %>
      <%= f.text_field :name %>
    </p>
    
    <p>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>
    
    <p>
      <%= f.label 'Metrics: key, title' %>
    </p>
      <% @category.metric_keys.each_with_index do |key, i| %>    
        <p>
          <%= text_field_tag 'historian_category[metric_keys][]', key %>
          <%= text_field_tag 'historian_category[metric_titles][]', @category.metric_titles[i] %>
        </p>    
      <% end %>
      <% (Historian.max_columns - @category.metric_keys.count).times do |i| %>
        <p>
          <%= text_field_tag 'historian_category[metric_keys][]' %>
          <%= text_field_tag 'historian_category[metric_titles][]' %>
        </p>
      <% end %>
  </div>
  <div class="actions">
    <%= f.submit 'Save' %>
  </div>
<% end %>